<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="CTVBackendBinding" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://ctvcentral.vipserv.org/soap" binding="basicHttpBinding"
                bindingConfiguration="CTVBackendBinding" contract="ServiceReference.CTVBackendPort"
                name="CTVBackendPort" />
        </client>
    </system.serviceModel>
</configuration>